.indiv-post-container {
    height: 20vh;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    border: 1px solid rgb(213, 213, 213);
}

.detail-link {
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-content {
    height: 100%;
    width: 100%;
}