.background-color-container {
    background-color: #aab1f4;
}

.feed-container {
    min-height: 100vh;
    width: 100vw;
    background: url(images/image.svg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar-import {
    position: sticky;
    top: 0;
}

.feed-content {
    width: 100%;
    display: grid;
    grid-template-columns: 15vw 50vw 35vw;
    margin-top: 3vh;
}

.center {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 15vh auto;
}

.user-post {
    height: 15vh;
    width: 100%;
    border-radius: 15px;
    background-color: white;
    border: 1px solid rgb(213, 213, 213)
}

.post-text {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 15% 85%;
}

.pfp {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pfp-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url('./images/testpfp.png');
    background-size: contain;
    background-repeat: none;
}

.textbox {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textbox > input {
    width: 95%;
    height: 10vh;
    min-height: 50px;
    border-radius: 50px;
    border: 1px solid rgb(212, 212, 212);
    display: block;
    margin: 0 auto;
}

.posts {
    flex-grow: 1;
    width: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.posts::-webkit-scrollbar {
    display: none;
}

.footer-space {
    height: 30px;
    width: 100%;
    background-color:transparent;
}

.side1 {
    width: 15vw;
    height: 100%;
    display: flex;
    justify-content: center;
}

.side2 {
    width: 35vw;
    height: 100%;
    display: flex;
    position: relative;
    left: 5vw;
}

.community-tab {
    height: 60vh;
    width: 20vw;
    background-color: white;
    border-radius: 10px;
    position: fixed;
    
}

.create-comm {
    text-align: center;
}

input[type=search]{
    padding-left: 20px;
}

.place-at-bottom {
    height: 30vh;
    width: 30vw;
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 1;
    padding: 0px;
    margin: 0px;
}

.place-at-left-bottom {
    height: 30vh;
    width: 27.5vw;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 1;
    padding: 0px;
    margin: 0px;
}