.feed-container {
    height: 100vh;
    width: 100vw;
    background-color: #F3F2EF;
}

.navbar-import {
    position: sticky;
    top: 0;
}

.feed-content {
    width: 100%;
    display: grid;
    grid-template-columns: 27.5vw 42.5vw 30vw;
    margin-top: 3vh;
}

.center {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 15vh 70vh;
}

.user-post {
    height: 15vh;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    border: 1px solid rgb(213, 213, 213)
}

.post-text {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 15% 85%;
}

.pfp {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pfp-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url('./images/testpfp.png');
    background-size: contain;
    background-repeat: none;
}

.textbox {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.textbox > input {
    width: 95%;
    height: 10vh;
    min-height: 50px;
    border-radius: 50px;
    border: 1px solid rgb(212, 212, 212);
    display: block;
    margin: 0 auto;
}

.posts {
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
}

.posts::-webkit-scrollbar {
    display: none;
}

.footer-space {
    height: 10px;
    width: 100%;
    background-color:#F3F2EF;
}

.side1 {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-corner {
    height: 100%;
    width: 80%;
    background-color: white;
    border-radius: 10px;
}

.side2 {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.community-tab {
    height: 100%;
    width: 80%;
    background-color: white;
    border-radius: 10px;
}

.create-comm {
    text-align: center;
}

input[type=search]{
    padding-left: 20px;
}