@font-face {
    font-family: Bajigoor;
    src: url(./Assets/Bajigoor-X3P5a.ttf);
  }

body {
    padding: 0;
    margin: 0;
}

.home-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 80% 20%;
    position: relative;
}

.home-wrapper {
    width: 100vw;
    height: 100%;
    background-color: #FFFF93;
    border-bottom: 2px solid #ffff1b;
    display: grid;
    grid-template-rows: 10% 90%;
}

.image-wrapper {
    height: 100%;
    width: 100%;
    background-image: url(./images/final_background.png);
    background-size: 60vw 65vh;
    background-repeat: no-repeat;
    background-position: center;
}

.nav-bar {
    height: 10vh;
    width: 100vw;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.nav-links {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline-block;
    font-family: Bajigoor;
    color: rgb(104, 104, 255);
    font-size: 25px;
}

.transitioning {
    width: 100%;
    height: 100%;
    -moz-user-select: none; /* These user-select properties are inheritable, used to prevent text selection */
    -webkit-user-select: none;
    -ms-user-select: none; /* From IE10 only */
    user-select: none; /* Not valid CSS yet, as of July 2012 */

    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
}

.transitioning img {
    pointer-events: none;
}

#cloud {
    height: 27%;
    width: 100%;
    position: absolute;
    bottom: 10%;
}

#clouds {
    height: 20%;
    width: 100%;
    position: absolute;
}

.second-page {
    height: 100vh;
    width: 100vw;
}